table file 14 lines (10 sloc) 171 Bytes
#Arquivo da build do maven
/target

# Arquivos de configuração do eclipse/intellij.
.classpath
.project
.settings/
.idea/

*.iml

#Arquivos de log do Spring Roo
log.roo
